h1{
    color: goldenrod;
    background-color:violet;
}

h2{
    color: blueviolet;
    background-color: burlywood;
}

h3{
    color: sienna;
    background-color: plum;
}

h4{
    color: hotpink;
    background-color: gray;
}